<mat-card class="item-card w-100">
  <mat-card-header>
    <img class="card-img-top p-3" mat-card-image src="{{imagem}}" alt="...">
  </mat-card-header>
  <mat-card-content>
    <div class="text-center">
      <mat-card-subtitle class="fw-bolder">{{descricao}}</mat-card-subtitle>
      <mat-card-title><h2 class="fw-bolder text-gm"> R$ {{valor}} </h2></mat-card-title>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="text-center mb-3">
      <a class="btn btn-outline-gm mt-auto" href="#">
        <mat-icon>shopping_cart</mat-icon>COMPRAR
      </a>
    </div>
  </mat-card-footer>
</mat-card>
